/*global variables code start*/
:root
{
    --clr-primary: #3777aa;
    --clr-primary-light: #2284d3;
    --clr-white: #ffffff;
    --clr-white-light: #f0f0f0;
    --clr-shadow: #00000029;
    --clr-black: #333333;
    --clr-black-30: rgba(34, 32, 32, 0.3);
    --clr-black-80: #222020cc;
    --clr-black-90: #262525e6;
    --clr-pink-light: #fdf2f2;
    --clr-blue-light: #f2fdfb;


  --transition: all 0.3s linear;
  --box-shadow-light: 0px 3px 7px var(--clr-shadow);
  --box-shadow-dark: 0px 3px 7px var(--clr-black-30);
  --font-family: Arial, Helvetica, sans-serif;
  --radius: 4px;
}
/*global variables code ends*/




/*Global styles code start*/
*,
::after,
::before
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

*:focus
{
outline-width: 2px;
outline-offset: 1px;
outline-color: var(--clr-primary);
}

body
{
color:var(--clr-black);
background:var(--clr-white);
font-family:var(--font-family);
line-height: 1.5;
}

ul
{
    margin-left: 2rem;
    list-style-type: none;
}

a
{
    text-decoration: none;
}

img
{
    display:block;

}

.underline{
    width:100px;
    height:5px;
    background:var(--clr-primary);
    margin-left: auto;
    margin-right: auto;
    
}

/*Global styles code ends*/




/*Global class container code start*/

.wrapper
{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.text-container
{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}


.display-block
{
    display:block;
}

.text-center
{
    text-align: center;
}


.text-left
{
    text-align:left;
}


.text-right
{
    text-align: right;
}


@media screen and (max-width: 991px) {
    .full-width-mobile {
      width: 100%;
    }
  }
  @media screen and (min-width: 992px) {
    .full-width-desktop {
      width: 100%;
    }
}

.light-pink-background {
    background: var(--clr-pink-light);
  }
  .light-blue-background {
    background: var(--clr-blue-light);
  }


.section-title .title
{
    font-size:30px;
    font-weight:bold;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 15px;
    color: var(--clr-primary);
}

.section-title .under-line
{
    width:60px;
    height:5px;
    background: var(--clr-primary);
    margin-left: auto;
    margin-right: auto;
}

.button-primary-dark,.button-primary-light
{
    font-weight: bold;
    text-transform: uppercase;
    border:none;
    cursor: pointer;
    height:45px;
    transition: var(--transition);
    font-size: 16px;
    letter-spacing: 1px;
    padding-left:20px;
    padding-right:20px;
    min-width: 200px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
}

.button-primary-dark{
    background: var(--clr-primary);
    color:var(--clr-white);

}

.button-primary-light{
    background: var(--clr-white);
    color:var(--clr-primary);
    
}

.button-primary-dark:hover{
    background: var(--clr-primary-light);
}

.button-primary-light:hover{
    background:var(--clr-white-light);
}

.primary-input,
.primary-textarea
{
    height:45px;
    font-size:16px;
    
    padding-left: 15px;
    padding-right: 15px;
    border-radius: var(--radius);
    border:1px solid var(--clr-shadow);
    letter-spacing: 1px;
    font-family: var(--font-family);
}

.primary-textarea
{
    height:unset;
    padding-top: 15px;
    padding-bottom: 15px;
    resize: vertical;


}

@media screen and (min-width:992px)
{
    .button-primary-dark,
    .button-primary-light
    {
        height:50px;
        min-width: 220px;
    }
    .primary-input
    {
        height:50px;

    }
}

/*Global container code ends*/


/*featured course style start*/
.single-course{
    width:100%;
    background:var(--clr-white);
    height:100%;
    box-shadow: var(--box-shadow-light);
    border-radius:var(--radius);
    transition:var(--transition);
}
.single-course:hover{
    transform: translateY(-2px) scale(1.002);
    box-shadow:var(--box-shadow-dark);
}
.single-course .img-container{
    aspect-ratio: 355/250;
    overflow: hidden;
}
.single-course .img-container img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-top-left-radius:var(--radius);
    border-top-right-radius:var(--radius);
    transition:var(--transition);
}
.single-course .course-title{
    font-size:22px;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    color:var(--clr-primary);
    margin-top:30px;
    margin-bottom:30px;
}
@media screen and (min-width:992px){
    .single-course .img-container{
        aspect-ratio:396/300;
    }
    .single-course:hover img{
        transform:scale(1.05) rotatez(2deg);
        
    }
}

/*layout classes*/
.three-column-layout{
    display:grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
@media screen and (min-width:769px){
    .three-column-layout{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:992px){
    .three-column-layout{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
/*layout classes end*/

/*featured course style end*/



/* our campuses section && each campus */
.each-campus {
    width: 100%;
    border-radius: var(--radius);
    background: var(--clr-white);
    box-shadow: var(--box-shadow-light);
    transition: var(--transition);
  }
  .each-campus:hover {
    box-shadow: var(--box-shadow-dark);
    transform: translateY(-2px) scale(1.002);
  }
  .each-campus .img-container {
    aspect-ratio: 355/250;
    position: relative;
  }
  .each-campus .img-container .share-icon-campus {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 50%);
    background: var(--clr-white);
    border-radius: 50%;
    border: 7px solid var(--clr-pink-light);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: var(--transition);
  }
  .each-campus .img-container .share-icon-campus:hover {
    border-color: var(--clr-blue-light);
    background: var(--clr-pink-light);
  }
  .each-campus .img-container .share-icon-campus img {
    width: 100%;
  }
  .each-campus .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
  }
  .each-campus .campus-info {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .each-campus .campus-info .campus-title {
    font-size: 22px;
    text-transform: capitalize;
    color: var(--clr-primary);
    letter-spacing: 1px;
  }
  .each-campus .campus-info .desc {
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .each-campus .campus-info .address {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--clr-primary);
    letter-spacing: 1px;
  }
  @media screen and (min-width: 992px) {
    .each-campus .img-container {
      aspect-ratio: 396/250;
    }
  }
/* our campuses section && each campus  end*/


  /* our facilities section card styles */
.each-facility {
    width: 100%;
    background: var(--clr-white);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow-light);
    transition: var(--transition);
  }
  .each-facility:hover {
    box-shadow: var(--box-shadow-dark);
    transform: translateY(-2px) scale(1.002);
  }
  .each-facility .img-container {
    aspect-ratio: 355/250;
    overflow: hidden;
  }
  .each-facility .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    transition: var(--transition);
  }
  .each-facility .facility-info .facility-title {
    font-size: 22px;
    color: var(--clr-primary);
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  .each-facility .facility-info .facility-desc {
    font-size: 16px;
    letter-spacing: 1px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media screen and (min-width: 992px) {
    .each-facility .img-container {
      aspect-ratio: 396/300;
    }
    .each-facility:hover img {
      transform: scale(1.05) rotateZ(-2deg);
    }
  }
  /* our facilities section card styles end */




  /* single featured component */
.single-featured-container {
    width: 100%;
  }
  .single-featured-container .single-featured-image {
    width: 100%;
    aspect-ratio: 355/300;
    overflow: hidden;
    border-radius: var(--radius);
  }
  .single-featured-image img {
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    object-fit: cover;
  }
  .single-featured-text-component .about-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .single-featured-text-component .about-info p {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .single-featured-text-component .contact-us-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }
  @media screen and (min-width: 992px) {
    .single-featured {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .single-featured-container.reverse-content .single-featured {
      flex-direction: row-reverse;
    }
    .single-featured-image,
    .single-featured-text-component {
      flex: 0 0 calc(50% - 30px);
    }
    .single-featured-container .single-featured-image {
      aspect-ratio: 625/550;
    }
  }

  /* single featured component  end*/